

<div class="container">
    <div class=" w-100 mt-4">
        <h4 class="d-block" >Recently Products</h4>
        <div class="d-flex flex-wrap justify-content-between">
            <!-- Product Cart Start -->
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                <img height="200" class=" card-img-top" src="images/14pro2.jfif" alt="">
                <div class="card-body">
                    <h6 class="align-center card-title">Iphone 17 Pro Max sotiladi!</h6>
                    <span class="center card-text"><small>10.000.000</small> so'm</span>
                    <div class="buttons d-flex flex-wrap justify-content-between ">
                        <i class="bi bi-bookmark-fill"></i> 
                        <a href="#" class="btn btn-outline-primary" >Details</a>
                    </div>
                </div>
            </div>  
            <!-- Product Cart End -->
            <!-- Product Cart Start -->
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                <img height="200" class=" card-img-top" src="images/14pro2.jfif" alt="">
                <div class="card-body">
                    <h6 class="align-center card-title">Iphone 17 Pro Max sotiladi!</h6>
                    <span class="center card-text"><small>10.000.000</small> so'm</span>
                    <div class="buttons d-flex flex-wrap justify-content-between ">
                        <i class="bi bi-bookmark-fill"></i> 
                        <a href="#" class="btn btn-outline-primary" >Details</a>
                    </div>
                </div>
            </div>  