{% extends "base.html"%}
{% load static %}
{% load django_bootstrap5 %}

{% block title%}
    E-shop - Recently Viewed

{% endblock title%}


{% block content %}
    <div class="container">
        <div class="w-100 mt-4 ">
            <h4 class="d-black">Recently Viwed Products</h4>
            <div class="d-flex flex-wrap justify-content-between">
                {% for i in products %}
               
                <div class="card border-0 shadow-sm d-inline-black m-1 mt-3" style="width:16.5rem;">
                    {% if i.productimage_set.exists %}                  
                    <img height="200" class="card-img-top" src="{{ i.productimage_set.all.first.image.url }}" alt="123">
                    {% else %}
                    <img height="200" class="card-img-top" src="" alt="">
                    {% endif %}
                    <dev class="card-body">
                    <h6 class="align-center card-text">{{i.title}}</h6>
                    <span class="center cart-text"><smal>{{i.price}}</small>$</span>                                                
                    <div class="buttons d-flex flex-wrap justify-content-between " >    
                        <a href="{% url 'users:addremovesaved' i.id%}" >&#9989; </a></i> 
                        <i class="bi bi-bookmark-fill"><a href="{% url 'users:addremovesaved' i.id%}" ></a></i> </i>
                                         
                        <a href="{% url 'products:detail' i.id%}" class="btn btn-outline-primary">Details</a>
           
                        
                       
                    </div>
                </div> 
            </div>
             {% endfor %}
        </div>
    </div>




{% endblock content %}